doctype html
html(lang="hu")
head
    title= Receptek
    link(href="http://fonts.googleapis.com/css?family=Kotta+One:400|Oswald:400,700",
         rel="stylesheet",
         type="text/css")
    //- inject:css
    //- endinject
body
    h1 Receptek
    section(class='main')
    //- inject:js
    //- endinject
