doctype html
html(lang="hu")
head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport')
    title= Receptek
    link(href="http://fonts.googleapis.com/css?family=Kotta+One:400|Oswald:400,700",
         rel="stylesheet",
         type="text/css")
    //- inject:css
    //- endinject
body
    h1 Receptek
    section(class='main')
    //- inject:js
    //- endinject
